.theme-text-color{
    color: #73c100;
}
.theme-background-color{
    background: #73c100;
    color: white !important;
}
.theme-border-color{
    border: #73c100;
}
.owl-carousel .owl-item img{
    width:auto !important;
}
